In [1]:
# Dependencies
import pandas as pd
import os
import numpy as np
import requests
import json
from pprint import pprint
from config import yelp_key
from statistics import mean

In [2]:
infile = os.path.join ("Resources", "cities.csv")
summary_df = pd.read_csv(infile)

summary_df['lat'] = ""
summary_df['lng'] = ""
summary_df['rating']=""
summary_df['price']=""
summary_df['sample_size']=""

summary_df.head()

          Cities lat lng rating price sample_size
0  New York City
1    Los Angeles
2          Miami
3         Denver

In [3]:
# set up header and base url
headers = { 'Authorization': 'Bearer {}'.format(yelp_key),}
base_url = "https://api.yelp.com/v3/businesses/search"

# run the API for each city in the dataframe
for row in range(0, len(summary_df)):
    target_city = summary_df["Cities"][row]
    params = {"Catergories": "Restaurant", "location": target_city}
    # Run request
    response = requests.get(base_url, params=params, headers=headers)
    # Convert to JSON
    json_data = response.json()
    #Create empty list to store all the results
    lat =[]
    lng = []
    rating =[]
    price = []
    #Figure out the number of results in the json_data and store as sample size
    length = len(json_data)
    summary_df["sample_size"][row] = length

    # iterate over the results and put the values append the values in the lists
    for entry in range (0, length):
        lat.append(json_data["businesses"][entry]["coordinates"]["latitude"])
        lng.append(json_data["businesses"][entry]["coordinates"]["longitude"])
        rating.append(json_data["businesses"][entry]["rating"])
        price.append (len(json_data["businesses"][entry]["price"]))

    #Add the averages of the results to the dataframe
    summary_df["lat"][row] = mean(lat)
    summary_df["lng"][row] = mean(lng)
    summary_df["rating"][row]= mean(rating)
    summary_df["price"][row] = mean(price)
    
# print data
print(summary_df)

          Cities      lat      lng   rating    price sample_size
0  New York City  40.7575 -73.9832  4.16667  1.66667           3
1    Los Angeles  34.0513 -118.244  4.16667        2           3
2          Miami  25.7799 -80.2124  4.33333        2           3
3         Denver   39.753 -104.981      4.5        2           3